body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #FFFFFF;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*header*/
.page-navigation {
    display: flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}




.logo-first {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;

    color: #404bbf;

}



.logo-second {
    color: #2e2f42;

}


.logofooter {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-container {
    display: flex;
    justify-content: space-between;

}

.contacts {
    display: flex;
    gap: 40px;
}

.main-navigation {
    display: flex;
    gap: 40px;
    position: relative;
}

.main-contacts {
    font-style: normal;

}

.main-navigation,
.contacts,
.content-list,
.content-list-portfolio,
.content-list-projects,
.team-icon-container-foot,
.team-icon-container {
    list-style-type: none;
}

.list-navigation {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
}

.list-navigation:focus,
.list-navigation:hover {
    color: #404BBF;
}

.logo-navigation {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-navigation::after {
    content: "";
    left: 0;
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    bottom: -1px;
}

.list-adress {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-adress:focus,
.list-adress:hover {
    color: #404BBF;
}

/*section 1*/
.main-section {
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    max-width: 496px;

    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.do-order {
    border: none;
    height: 56px;
    min-width: 169px;
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.do-order:hover,
.do-order:focus {
    background-color: #404BBF;
}

/*section2*/

.icon-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
}


.team-container {
    padding: 32px 0;
}

.content-head-team {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;

}

.content-discription-team {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-icon-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border-icon-team {
    width: 40px;
    height: 40px;
}

.link-team {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team:hover,
.link-team:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

.content-list {
    display: flex;
    gap: 24px;
}

.content {
    color: #2e2f42;
}





.employees {
    background-color: #F4F4FD;
}

.fon {
    background-color: #FFFFFF;
    width: calc((100%-72px) /4);
}

.main-head {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.fon-team {
    background-color: #FFFFFF;
    width: calc((100%-72px) /4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.content-head {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.content-discription {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.content-list-projects {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;

}

.projects-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.projects-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.project-card-container {
    position: relative;
    overflow: hidden;
}


.project-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list:hover .project-text {
    transform: translateY(0);
}

.discription-box {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}


.logo-first-footer {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.conclusion {
    background-color: #2E2F42;
    padding: 100px 0;
}

.conclusion-text {
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 0;
}


.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-container {
    margin-right: 120px;
}

.team-icon-container-foot {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.foot-icon:focus,
.foot-icon:hover {
    background-color: #31d0aa;
}

/* ============== foter-forma ============== */
.footer-form {
    display: flex;
    gap: 24px;

}

.footer-container-social {
    margin-right: 80px;
}

.footer-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.17em;
    letter-spacing: 0.02em;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-form-submit-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

}

.footer-form-submit-btn:focus,
.footer-form-submit-btn:hover {
    background-color: #404BBF;
}

.footer-form-input-icon {
    fill: #ffffff;
    margin-left: 16px;

}


/* ============== BACKDROP STYLES ============== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ============== /BACKDROP STYLES ============== */

/* ============== MODAL WINDOW STYLES ============== */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn-icon {
    stroke: #111111;
    fill: #111111;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:focus .modal-close-btn-icon {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}


.modal-close-btn:hover .modal-close-btn-icon {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}


.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    cursor: pointer;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background: #404BBF;
    border: none;
}

.review-form-description {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.17em;
    color: #8E8F99;
    margin-bottom: 4px;
    letter-spacing: 0.02em;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.review-form-input:focus {
    border-color: #4D5AE5;
}

.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus+.review-form-input-icon {
    fill: #4D5AE5;
}

.review-form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-field-textarea {
    margin-bottom: 16px;
}
.review-form-comment::placeholder {
    color: rgba(64, 64, 64, 0.3);
}

.review-form-comment:focus {
    border-color: #4D5AE5;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-own-checkbox {
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked+.review-form-checkbox-label>.review-form-own-checkbox {
    border: none;
    fill: #F4F4FD;
    background-color: #404BBF;
    border-color: #404BBF;
}

/*.review-form-checkbox:focus+.review-form-checkbox-label>.review-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}*/

.review-form-own-checkbox-icon {
    fill: #F4F4FD;
    opacity: 0;
}

.review-form-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox-icon {
    opacity: 1;
}

.accent-color {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.review-form-submit-btn {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    max-height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}



.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
    background-color: #404BBF;
}

/* ============== /MODAL WINDOW STYLES ============== */